<!-- Include success/error messages -->
<div class="relative">
    <%- include('./partials/suceess-error') %>
</div>

<%- include('./partials/header') %>

    <!-- cart wrapper -->
    <div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4">
        <!-- product cart -->
        <div class="xl:col-span-9 lg:col-span-8">
            <p class="py-3 font-serif text-base bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
                <strong class="font-bold">Warning:</strong>
                <span class="block sm:inline">Similar items can cause confusion. Please avoid re-adding them!</span>
            </p>
            <!-- cart title -->
            <div class="bg-gray-200 py-3 hidden md:flex md:justify-between px-5">
                <p class="w-1/6 font-bold text-gray-600 text-left">Product</p>
                <p class="w-1/6"></p>
                <p class="w-1/6"></p>
                <p class="w-1/6 font-bold text-gray-600 text-center">Quantity</p>
                <p class="w-1/6 font-bold text-gray-600 text-right">Price</p>
            </div>
            <!-- cart title end -->

            <!-- shipping carts -->
            <div class="space-y-4">

                <% if (user.cart.length===0) { %>
                    <div class="bg-white p-6 rounded-lg shadow-sm text-center">
                        <p class="text-gray-600 text-lg">Your cart is empty</p>
                        <a href="/products/shop" class="inline-block mt-4 px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
                            Continue Shopping
                        </a>
                    </div>
                    <% } else { %>
                        <% user.cart.reverse().forEach(function(Product) { %>
                            <% 
                                let price = Product.product.variants[0].price; 
                                let discountedPrice = Product.product.variants[0].discount || price; // If discount exists, use it; otherwise, use the original price.
                        
                                // Calculate GST based on price
                                let gstRate = 18;
                                let gstAmount = (discountedPrice * gstRate) / 100;
                                let finalPrice = discountedPrice + gstAmount;
                            %>

                            <!-- single cart -->
                            <div
                                class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">
                                <!-- cart image -->
                                <div class="w-32 flex-shrink-0">
                                    <img class="w-full"
                                        src="data:<%= Product.product.images[0].contentType %>;base64,<%= Product.product.images[0].imageBuffer.toString('base64') %>"
                                        alt="<%= Product.product.title %>">
                                </div>
                                <!-- cart image end -->
                                <!-- cart content -->
                                <div class="md:w-1/3 w-full">
                                    <h2 class="text-primary mt-3 xl:text-xl text-lg font-bold capitalize">
                                        <%= Product.product.title %>
                                    </h2>
                                    <div class="text-gray-800 mb-2 xl:text-lg text-base font-normal capitalize">
                                        <div class="text-sm font-semibold text-gray-500 mt-1">
                                            <%= Product.product.category %> › <%= Product.product.subCategory %> › 
                                            <%= Product.product.subSubCategory %>
                                        </div>
                                    </div>
                                    <p class="text-gray-700 font-medium mt-2">
                                        <% if (Product.product.variants[0].discount) { %>
                                            <span class="mt-2 text-xl font-bold text-emerald-800">₹ <%= Product.product.variants[0].discount %></span>
                                            <span class="text-sm text-gray-500 line-through ml-2">₹ <%= Product.product.variants[0].price %></span>
                                        <% } else { %>
                                            <span class="mt-2 text-xl font-bold text-emerald-800">₹ <%= Product.product.variants[0].price %></span>
                                        <% } %> 
                                        <span class="inline-flex items-center rounded-full text-emerald-700 bg-emerald-200 px-3 py-1 text-sm">
                                            GST: ₹ <%= gstAmount.toFixed(2) %>
                                        </span>
                                    </p>
                                    <% if (Product.size !=="None" ) { %>
                                        <span class="inline-block mt-1 px-2 py-1 text-xs bg-gray-100 rounded-full">
                                            Size: <%= Product.size %>
                                        </span>
                                        <% } %>
                                </div>
                                <!-- cart content end -->

                                <!-- ----------------------------------------------- -->
                                <div class="cart-item flex items-center gap-4 mb-4 p-4 border rounded">

                                    <!-- Quantity Update Form -->
                                    <form action="/products/cart/update/<%= Product.product._id %>" method="POST"
                                        class="flex items-center justify-center gap-2">
                                        <% if(Product.product.subCategory !== "saree"){ %>
                                        <div class="relative">
                                            <select name="size"
                                                class="block w-full py-1 px-2 border border-gray-300 rounded-md text-sm focus:ring-primary focus:border-primary">
                                                <option value="None" <%=Product.size==='None' ? 'selected' : '' %>>Size
                                                </option>
                                                <option value="XS" <%=Product.size==='XS' ? 'selected' : '' %>>XS
                                                </option>
                                                <option value="S" <%=Product.size==='S' ? 'selected' : '' %>>S</option>
                                                <option value="M" <%=Product.size==='M' ? 'selected' : '' %>>M</option>
                                                <option value="L" <%=Product.size==='L' ? 'selected' : '' %>>L</option>
                                                <option value="XL" <%=Product.size==='XL' ? 'selected' : '' %>>XL
                                                </option>
                                            </select>
                                        </div>
                                        <% } %>

                                        <div class="flex items-center border border-gray-300 rounded-md">
                                            <button type="button" data-id="<%= Product._id %>" data-value="-1"
                                                class="quantity-btn px-3 py-1 text-gray-600 hover:bg-gray-50 rounded-l-md">-</button>
                                        
                                            <input id="quantity-<%= Product._id %>" type="number" name="quantity" value="<%= Product.quantity %>"
                                                class="quantity-input w-12 text-center border-x border-gray-300 bg-white text-sm py-1"
                                                min="1" max="10" readonly>
                                        
                                            <button type="button" data-id="<%= Product._id %>" data-value="1"
                                                class="quantity-btn px-3 py-1 text-gray-600 hover:bg-gray-50 rounded-r-md">+</button>
                                        </div>
                                        
                                        <button type="submit"
                                            class="border-2 ml-2 px-3 py-1 bg-primary/5 text-blue-700 text-sm font-bold rounded-md hover:bg-primary/20 transition-colors">Update</button>
                                    </form>
                                </div>

                                <!-- ------------------------------------------------------- -->
                                <!-- cart quantity end -->
                                <div class="ml-auto md:ml-0 flex items-center flex-col">
                                    <div class="w-full border-b border-gray-300 flex flex-col items-center justify-end">
                                        <p class="text-primary text-lg font-semibold">
                                            ₹<%= finalPrice.toFixed(2) %>
                                        </p>
                                    </div>

                                    <a href="/products/deleted/<%= Product.product._id %>">
                                        <div class="mt-2 text-red-500 hover:text-red-700 cursor-pointer">
                                            <i class="fas fa-trash"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- single cart end -->
                            <% }) }%>
            </div>
            <!-- shipping carts end -->
        </div>
        <!-- product cart end -->
        <!-- order summary -->
        <div class="xl:col-span-3 lg:col-span-4 border border-gray-200 px-4 py-4 rounded mt-6 lg:mt-0">
            <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">ORDER SUMMARY</h4>
            <div class="space-y-1 text-gray-600 pb-3 border-b border-gray-200">
                <div class="flex justify-between font-medium">
                    <p>Subtotal</p>
                    <p>₹<%= cartSummary ? cartSummary.subtotal.toFixed(2) : '0.00' %></p>
                </div>
                <div class="flex justify-between">
                    <p>Discount</p>
                    <p class="text-green-600">-₹<%= cartSummary ? cartSummary.discount.toFixed(2) : '0.00' %></p>
                </div>
                <div class="flex justify-between">
                    <p>GST (<%= cartSummary ? cartSummary.gstRate : '18' %>%)</p>
                    <p>₹<%= cartSummary ? cartSummary.gstAmount.toFixed(2) : '0.00' %></p>
                </div>
            </div>
            <div class="flex justify-between my-3 text-gray-800 font-semibold uppercase">
                <h4>Total</h4>
                <h4>₹<%= cartSummary ? cartSummary.total.toFixed(2) : '0.00' %></h4>
            </div>

            <!-- checkout -->
            <a id="enquiry-btn-multiple" class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase 
            hover:bg-transparent hover:text-primary transition text-sm flex justify-center items-center">
                <span class="mr-2"><i class="fas fa-envelope"></i></span> Place Enquiry
            </a>
            <!-- checkout end -->
        </div>
        <!-- order summary end -->
    </div>
    <!-- cart wrapper end -->

    <script src="/javascripts/external-script.js"></script>

    <%- include('./partials/footer') %>